body {
    background-color: #5D5C61;
    color: black;
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: #659DBD;
    color: black;
}

header {
    background-color: black; 
    color: LightGreen; 
    padding: 10px; 
    font-size: 16pt;
}

footer {
    background-color: black; 
    color: LightGreen; 
    padding: 10px; 
    font-size: 16pt; 
    font-style: italic; 
    text-align: right;
}